<div class="container-fluid">
  <!-- <h1>ngIf</h1>
  <div *ngIf=" name === 'simran'; else updateName;">
    name is added
  </div>
  <ng-template #updateName>
    name is Simran
  </ng-template>

  <h1>ngFor</h1>
  <ul>
    <li *ngFor="let val of array">
      {{ val.name }} {{val.age}}
    </li>
  </ul>

  <h1>ngStyle</h1>
  <div [ngStyle]="{ 'background-color' : 'red', 'color' : 'white' }">this is ngStyle</div> -->

  <h1>Show contacts</h1>

  <div *ngIf="userLoggedIn === true">
    <table [ngStyle]="{'width' : '100%'}">
      <tr [ngStyle]="{ 'background-color' : 'lightgray' }">
        <th>Sr No.</th>
        <th>Contact Name</th>
        <th>Contact ID</th>
        <th>City</th>
      </tr>
      <tr *ngFor="let contact of contacts; index as i; even as e; odd as o;">

        <td>
          <div *ngIf="e">
            <div [ngStyle]="{ 'background-color' : color }"> {{i+1}} </div>
          </div>
          <div *ngIf = "o">
            <div [ngStyle]="{ 'background-color' : 'skyblue' }"> {{i+1}} </div>
          </div>
        </td>
        <td>
          <div *ngIf="e">
            <div [ngStyle]="{ 'background-color' : color }"> {{contact.name}} </div>
          </div>
          <div *ngIf = "o">
            <div [ngStyle]="{ 'background-color' : 'skyblue' }"> {{contact.name}} </div>
          </div>
        </td>
        <td>
          <div *ngIf="e; else abc">
            <div [ngStyle]="{ 'background-color' : color }"> {{contact.id}} </div>
          </div>
          <ng-template #abc>
            <div [ngStyle]="{ 'background-color' : 'skyblue' }"> {{contact.id}} </div>
          </ng-template>
        </td>
        <td>
          <div *ngIf="e; else change-color;">
            <div [ngStyle]="{ 'background-color' : color }"> {{contact.city}} </div>
          </div>
          <div *ngIf = "o">
            <div [ngStyle]="{ 'background-color' : 'skyblue' }"> {{contact.city}} </div>
          </div>
        </td>
      </tr>
    </table><br><br>

    <button class = "btn btn-primary" (click)=clickFunction()> Click me</button> <br><br>
    <p (mouseover)="hoverFunction()">Hover me :)</p><br><br>

   <input [(ngModel)] = "username" />
   <div>{{username}}</div>

  <div> {{lowerText | lowercase}} </div>
  <div> {{upperText | uppercase}} </div>
  <div> {{dateToday | date}} </div>
  <div> {{curr | currency : 'CAD'}} </div>
  <div> {{dateToday | date : 'MMM-dd-yyyy'}} </div>
  <div> {{percentVal | percent : '2.0-2'}} </div>
  </div>

</div>